/* STYLE SHEET */


/* GLOBALS */

body {
    max-width: 144rem;
    margin: 0 auto
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
}

.d-flex {
    display: flex
}


/*  HEADER */

.navbar {
    background-color: #333;
    color: #fff;
    padding: 0 0.8rem;
}

ul.d-flex {
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.d-flex li {
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.searh-top {
    justify-content: space-around;
}


/*---------------------*/


/* MAIN CONTENT */

.grid-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    align-self: center;
}

.grid-child {
    height: 90vh;
}

.grid-content {
    width: 80%;
    margin: 30% auto;
}

.container-1,
.container-4 {
    background-color: #666;
}

.container-2 {
    background-color: #999;
}

.container-3 {
    background-color: #444;
}