/* STYLE SHEET */


/* GLOBALS */

body {
    max-width: 144rem;
    margin: 0 auto
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    /* 1rem = 10px*/
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 4.5rem;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
}

.d-flex {
    display: flex
}

.d-grid {
    display: grid;
}

.flex-space {
    justify-content: space-between;
}

.main-container {
    position: relative;
}


/*  HEADER */

.navbar {
    background-color: #333;
    color: #fff;
    padding: 0 0.8rem;
}

ul.d-flex {
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.d-flex li {
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: #8b8b8b;
}

.searh-top {
    justify-content: space-around;
}

.logo-nav {
    width: 4rem;
}


/*---------------------*/


/* MAIN CONTENT */

.page-title {
    position: absolute;
    left: 25%;
    top: 3rem;
    font-family: sans-serif;
    font-weight: bolder;
    width: 50%;
    text-align: center;
}

.page-title span {
    background-color: #fff;
    padding: 0.8rem 1rem;
}

.grid-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    align-self: center;
}

.grid-child {
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-content {
    color: #fff;
    width: 75%;
    height: 35rem;
    margin-top: 3rem;
}

.grid-content p {
    font-size: 1.7rem;
}

.grid-content p span {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
}

.container-1,
.container-4 {
    background-color: #666;
}

.container-2 {
    background-color: #999;
}

.container-3 {
    background-color: #444;
}

.author-img {
    margin-bottom: 2rem;
}

.author-img img {
    border-radius: 10%;
    border: 6px solid white;
    width: 18%;
    margin-right: 2rem;
    transform: rotate(-8deg);
}

.title-comment {
    font-size: 1.5rem;
    font-weight: 900;
    display: inline-block;
    padding-bottom: 1rem;
}

.title-comment i {
    margin-right: 0.5rem;
}

.hash-info p {
    margin-top: 3rem;
    margin-right: 3rem;
}

.hash-info p i {
    margin-right: 0.5rem;
}


/*----------------------*/


/* POST HEAT-MAPS */

.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 5rem;
    margin-top: 2.5rem;
}

.post {
    height: 60rem;
}

.post-title {
    background-color: #000;
    height: 30%;
    margin-bottom: 1.5rem;
}

.post-title-less {
    background-color: #111;
}

.post-content {
    background-color: #555;
    height: 70%;
}


/*-------------------*/

.grid-membership {
    margin-top: 5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: 50rem;
}

.grid-membership-text {
    background-color: #666;
}

.member-text {
    margin: 2rem auto;
    width: 70%;
    height: 60%;
    background-color: #444;
}

.member-buttom {
    margin: 1rem auto;
    width: 50%;
    height: 20%;
    background-color: #222;
}

.grid-membership-picture {
    background-color: #111;
}


/*--------------------*/

.posts-pictures {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
    margin-top: 4rem;
}

.second-cont {
    grid-template-columns: 1fr 1fr 2fr;
}

.announcements {
    background-color: #000;
    margin: 0 1rem;
}

.announsment-picture {
    background-color: #fff;
    height: 55%;
    width: 70%;
    margin: 10px auto;
}

.announcement-title {
    background-color: #fff;
    height: 10%;
    width: 50%;
    margin: 10px auto;
}

.announcement-content {
    background-color: #333;
    height: 15%;
    width: 60%;
    margin: 10px auto;
}

.announcement-button {
    background-color: #fff;
    height: 30%;
    width: 70%;
    margin: 10px auto;
}


/*--------------------------------*/

.episodes-container {
    background-color: #000;
    height: 80rem;
    margin-top: 5rem;
    padding: 3rem;
}

.episodes-img {
    background-color: #fff;
    height: 45%;
    width: 58%;
    margin: 0 auto;
}

.episodes-title {
    width: 20%;
    height: 10%;
    margin: 0 auto;
    background-color: #DCDCDC;
    margin-top: 3rem;
}

.episodes-text {
    width: 49%;
    height: 13%;
    margin: 0 auto;
    background-color: #A9A9A9;
    margin-top: 3rem;
}

.episodes-buttom {
    width: 25%;
    height: 13%;
    background-color: #D3D3D3;
    margin: 3rem auto;
    border-radius: 11px;
}

.person-week-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 30rem;
    background-color: #000;
}

.person-img {
    background-color: #fff;
    width: 80%;
    height: 67%;
    margin: 4rem auto;
}

.person-title {
    background-color: #989898;
    width: 39%;
    height: 13%;
    margin: 2rem 1rem;
}

.person-description {
    background-color: #D8D8D8;
    width: 95%;
    height: 54%;
    margin: 0 1rem;
}

.persons-container {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    height: 60rem;
    margin-top: 3rem;
    background-color: #000;
    padding: 2rem 1rem;
}

.person {
    height: 86%;
    background-color: #fff;
    grid-template-columns: 1fr 3fr;
}

.person .person-img {
    background-color: #686868;	 
}

.person .person-title {
    background-color:#000;	
}

